$MAINCOLOR: #1fb354;
$SECONDCOLOR: #1f3b64;

.levels-section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: hidden;

  .level-card {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: inline-block;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 5px;
    color: $SECONDCOLOR;
    max-width: 100%;

    h5 {
      font-size: 20px;
    }

    &:hover {
      background-color: $SECONDCOLOR;
      color: #fff;
    }

  }
}

.level-details {
  padding-top: 90px;
  padding-bottom: 90px;

  .lev-head {
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }
}

.sub-card {
  border-radius: 10px;
  border: 1px solid #bababa;
  padding: 10px;
  display: block;
  transition: all .5s ease-in-out;

  .card-img {
    height: 200px;
    background-size: cover;
    background-position: top;
    border-radius: 10px;
    position: relative;
  }

  h6 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Changa", sans-serif;

  }

  .card-title {
    font-size: 20px;
    color: $SECONDCOLOR;
    margin: 0;
    margin-top: 10px;
    font-family: "Changa", sans-serif !important;

    margin-bottom: 10px;
  }

  .card-price {
    color: $MAINCOLOR;
    font-size: 15px;
    font-family: "Changa", sans-serif;

  }
}

.level-details,
.levels-section {
  position: relative;
  overflow-x: hidden;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
  top: 0;

  .btn {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    border: none;
    background-color: $SECONDCOLOR;
    color: #f1faee;
    font-family: "Changa", sans-serif;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.445);
  }

  .btn:hover {
    background-color: #003049;
    color: #eae2b7;
    box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.445);
  }

  .btn__text {
    margin-left: 0.8rem;
    margin-right: 10px;
  }

  .spinner {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border: 3px solid #dddf00;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotate(180deg);
      border-top-color: #fcab41;
      border-bottom-color: #80ffdb;
      border-right-color: transparent;
      border-left-color: transparent;
    }

    100% {
      transform: rotate(360deg);
    }
  }

}

.subject-details-page {
  overflow-x: hidden;

  .subject-name {
    font-size: 35px;
    text-align: center;
    color: $SECONDCOLOR;
  }

  .card-img {
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
    margin-right: auto;

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 5px;
    }
  }

  ul {
    margin-bottom: 0;
    list-style: none;
    padding-right: 0;

    li {
      font-size: 20px;
      margin-bottom: 10px;
      background-color: #4ab16e2c;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-right: 45px;

      // &.price{
      //   font-size: 2px;
      // }
      i {
        color: $SECONDCOLOR;
        font-size: 30px;
        margin-top: 5px;
      }

      &::before {
        content: "\f058";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $MAINCOLOR;
        position: absolute;
        right: 20px;
      }
    }
  }

  .btn-subscripe {
    background-color: $SECONDCOLOR;
    color: #fff;
    border: 1px solid $SECONDCOLOR;
    padding: 5px 40px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Changa", sans-serif;

    &:hover {
      background-color: #fff;
      color: $SECONDCOLOR;
    }
  }
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  text-align: right;
  font-family: "Changa", sans-serif;
}

.my-account {
  padding-top: 50px;

  .MuiButtonBase-root {
    font-family: "Changa", sans-serif !important;
  }

  canvas {
    height: 300px !important;
  }

  .MuiBox-root.css-19kzrtu {
    padding: 0;
    padding-right: 15px;
  }

  .MuiButtonBase-root {
    border-radius: 5px;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background-color: #4ab16e86;
    color: #000;
    border-right: 5px !important;
  }

  .css-10d9dml-MuiTabs-indicator {
    background-color: $SECONDCOLOR;
  }

  .css-35zqo5-MuiTabs-root {
    border-right: 0;
  }

  .profile-form {
    margin-bottom: 20px;

    label {
      font-family: "Changa", sans-serif;
      margin-bottom: 5px;
      display: inline-block;
    }

    .form-control {
      font-family: "Changa", sans-serif;
      width: 100%;
      height: 50px;
      border: 0;
      background-color: #fff;
      border: 1px solid $SECONDCOLOR;
      border-radius: 5px;
      padding-right: 10px;
    }

    button {
      width: 100%;
      background-color: $SECONDCOLOR;
      color: #fff;
      padding: 10px;
      text-align: center;
      border: 0;
      border-radius: 5px;
      font-family: "Changa", sans-serif !important;
      cursor: pointer;
    }
  }
}

.my-lectures {
  padding-top: 100px;
}

.exam {
  .question-card {
    .card-body {
      padding-right: 0;
      margin-top: 0;
      padding-right: 10px;
    }

    .form-group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
    }
  }

  .card-footer {
    .btn {
      padding: 10px;
      border: 0;
      background-color: $SECONDCOLOR;
      color: #fff;
      border-radius: 5px;
      font-family: "Changa", sans-serif !important;
      cursor: pointer;
      margin-left: 5px;
    }

    .btn-correct {
      background-color: $MAINCOLOR;
    }
  }
}

.examtimer {
  text-align: center;
  background: $MAINCOLOR;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 40px;

  .label {
    font-size: 15px;
  }

  .time {
    color: $SECONDCOLOR;
    margin-left: 10px;
  }
}


.month-page {
  margin-top: 40px;
}

.month-card {
  background-color: #1f3b64;
  width: 100%;
  padding: 20px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid $SECONDCOLOR;
  &:hover{
    background-color: #fff;
    color: #1f3b64;
  }
}

.lectures-page {
  .month-card {
    background-color: #1fb354;
    border-color: $MAINCOLOR;
    &:hover{
      background-color: #fff;
      color: $MAINCOLOR;
    }
  }
}

.list-header {
  font-size: 20px;
  text-align: center;
}

.mylectures-list {
  padding-top: 50px;
  .sub-card {
    &:hover {
      background-color: #1f3b64;
      transition: all .3s ease-in-out;
      color: #fff;

      h5 {
        color: #fff;
        transition: all .3s ease-in-out;
      }
    }
  }
}
.userdropdown{
  display: inline-flex;
  button{
    font-family: "Changa", sans-serif !important;
    background-color: $MAINCOLOR;
    padding: 10px;
    color: #fff;
    margin-right: 5px;
    font-size: 16px;
    &:hover{
      background-color: $MAINCOLOR;
      color: #fff;
    }
  }
}

.MuiMenuItem-root{
  font-family: "Changa", sans-serif !important;
}


.noExam{
  background-color: $MAINCOLOR;
  padding: 30px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  h5{
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
  }
  button{
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: "Changa", sans-serif !important;
    border: 0;
    cursor: pointer;
    margin: 0;
    color: #000;
    &:hover{
      background-color: $SECONDCOLOR;
      color: #fff;
    }
  }
}

.login-form{
  position: relative;
}
.loginloading{
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.css-1rn30mb-MuiCircularProgress-root{
  color: $SECONDCOLOR;
  width: 100px !important;
  height: 100px !important;
}
.css-ol7wxs-MuiTypography-root{
  color: #fff;
  font-size: 20px;
  font-family: "Changa", sans-serif !important;

}

.Toastify__toast-body{
  font-family: "Changa", sans-serif !important;
  text-align: right;
}

.lectures-details{
  ul{
    margin: 0;
  }
  iframe{
    border: 2px solid $MAINCOLOR;
    border-radius: 5px;
  }
}

.box-title{
  font-size: 18px;
  color: $SECONDCOLOR;
  margin: 0;
  margin-bottom: 10px;
}

.sign-up-page{
  form{
    position: relative;
  }
}

.user-card{
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.445);
  width: 250px;
  padding: 20px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  margin-top: 40px;
  .user-imag{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: auto;
    border: 1px solid #000;
  }
  h5, p{
    margin: 0;
    font-family: "Changa", sans-serif !important;
  }
  h5{
    font-size: 20px;
    color: $SECONDCOLOR;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  p{
    // margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
}

.MuiModal-root {
  position: relative;
  h2{
    font-family: "Changa", sans-serif !important;
    font-size: 18px;
    margin: 0;
  }
  .form-control{
    font-family: "Changa", sans-serif !important;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
    padding: 5px;
    max-width: 100%;
    min-width: 100%;
    min-height: 90px;
    max-height: 200px;
  }
  .MuiBox-root.css-1wnsr1i{
    border-radius: 5px;
    border: 0;
    padding:30px;
  }
  .btn{
    border: 0;
    padding: 8px;
    background-color: $MAINCOLOR;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    font-family: "Changa", sans-serif !important;
    border: 1px solid $MAINCOLOR;
    cursor: pointer;
    &:hover{
      background-color: #fff;
      color: $MAINCOLOR;
    }
  }
}

.honor-card{
  text-align: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0 ,0.1);
  background-color: #fff;
  padding: 20px;
  .card-img{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
  }
  h5, p{
    margin: 0;
  }
  .card-name{
    font-size: 25px;
  }
  .card-level{
    font-size: 14px;
    color: #333;
  }
  ul{
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $MAINCOLOR;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    span{
      font-size: 20px;
    }
  }
}

.why-patform{
  margin-top: 0 !important;
}

.site-footer{
  .more-important{
    li{
      span{
        &:last-child{
          color: $MAINCOLOR;
        }
      }
    }
  }
}

.telegramLink{
  width: 60px;
  height: 60px;
  background-color: #fff;
  position: fixed;
  bottom: 10px;
  left: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f3b64;
  a{
    display: inline-flex;
  }
  i{
    color: #fff;
    font-size: 45px;
  }
}

.what-say{
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-more{
      margin: unset;
      margin: 5px;
    }
    .btn-link{
      background-color: $SECONDCOLOR;

    }
  }
}

.add-review{
  h5{
    font-size: 20px;
    // background-color: #ddd;
    color: $SECONDCOLOR;
    padding: 10px;
    border-radius: 5px;
  }
  textarea{
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 5px;
    font-family: "Changa", sans-serif !important;
    padding: 10px;
    &::placeholder{
      font-size: 14px;
      color: #424242;
    }
  }
  button{
    padding: 10px 40px;
    background-color: $MAINCOLOR;
    font-family: "Changa", sans-serif !important;
    border: 0;
    border-radius: 5px;
    color: #fff;
    border: 1px solid $MAINCOLOR;
    font-size: 16px;
    cursor: pointer;
    &:hover{
      background-color: #fff;
      color: $MAINCOLOR;
    }
  }
}

.add-review-page{
  .what-say{
    margin-top: 0;
    background-color: transparent;
    .teste-card{
      background-color: #eee;
    }
  }
}

.live-lectures{
  margin-top: 90px;
  .section-header{
    text-align: right;
  }
}

.notaccept{
  color: red !important;
}

.freeLecture-card{
  text-align: center;
  h5{
    font-size: 25px;
    color: $SECONDCOLOR;
    margin: 0;
  }
  a{
    background-color: $MAINCOLOR;
    color: #fff;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
  }
}

@media(max-width: 991px){
  .userdropdown{
    margin-top: 10px;
  }
}